schemas/OOXML/strict/dml-chart.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://purl.oclc.org/ooxml/drawingml/chart" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:s="http://purl.oclc.org/ooxml/officeDocument/sharedTypes" xmlns:r="http://purl.oclc.org/ooxml/officeDocument/relationships" xmlns:a="http://purl.oclc.org/ooxml/drawingml/main" xmlns:dchrt="http://purl.oclc.org/ooxml/drawingml/chart" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:aa="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:cdr="http://purl.oclc.org/ooxml/drawingml/chartDrawing" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns:w10="urn:schemas-microsoft-com:office:word" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="dchrt_CT_Boolean">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: true</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_Double">
    <attribute name="val">
      <data type="double"/>
    </attribute>
  </define>
  <define name="dchrt_CT_UnsignedInt">
    <attribute name="val">
      <data type="unsignedInt"/>
    </attribute>
  </define>
  <define name="dchrt_CT_RelId">
    <ref name="r_id"/>
  </define>
  <define name="dchrt_CT_Extension">
    <optional>
      <attribute name="uri">
        <data type="token"/>
      </attribute>
    </optional>
    <ref name="dchrt_CT_Extension_any"/>
  </define>
  <define name="dchrt_CT_Extension_any">
    <element>
      <anyName>
        <except>
          <nsName ns="urn:schemas-microsoft-com:office:office"/>
          <nsName ns="urn:schemas-microsoft-com:vml"/>
          <nsName ns="urn:schemas-microsoft-com:office:word"/>
          <nsName ns="urn:schemas-microsoft-com:office:excel"/>
        </except>
      </anyName>
      <zeroOrMore>
        <ref name="anyAttribute"/>
      </zeroOrMore>
      <mixed>
        <zeroOrMore>
          <ref name="anyElement"/>
        </zeroOrMore>
      </mixed>
    </element>
  </define>
  <define name="dchrt_CT_ExtensionList">
    <zeroOrMore>
      <element name="ext">
        <ref name="dchrt_CT_Extension"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_CT_NumVal">
    <attribute name="idx">
      <data type="unsignedInt"/>
    </attribute>
    <optional>
      <attribute name="formatCode">
        <ref name="s_ST_Xstring"/>
      </attribute>
    </optional>
    <element name="v">
      <ref name="s_ST_Xstring"/>
    </element>
  </define>
  <define name="dchrt_CT_NumData">
    <optional>
      <element name="formatCode">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="ptCount">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="pt">
        <ref name="dchrt_CT_NumVal"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_NumRef">
    <element name="f">
      <data type="string"/>
    </element>
    <optional>
      <element name="numCache">
        <ref name="dchrt_CT_NumData"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_NumDataSource">
    <choice>
      <element name="numRef">
        <ref name="dchrt_CT_NumRef"/>
      </element>
      <element name="numLit">
        <ref name="dchrt_CT_NumData"/>
      </element>
    </choice>
  </define>
  <define name="dchrt_CT_StrVal">
    <attribute name="idx">
      <data type="unsignedInt"/>
    </attribute>
    <element name="v">
      <ref name="s_ST_Xstring"/>
    </element>
  </define>
  <define name="dchrt_CT_StrData">
    <optional>
      <element name="ptCount">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="pt">
        <ref name="dchrt_CT_StrVal"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_StrRef">
    <element name="f">
      <data type="string"/>
    </element>
    <optional>
      <element name="strCache">
        <ref name="dchrt_CT_StrData"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Tx">
    <choice>
      <element name="strRef">
        <ref name="dchrt_CT_StrRef"/>
      </element>
      <element name="rich">
        <ref name="a_CT_TextBody"/>
      </element>
    </choice>
  </define>
  <define name="dchrt_CT_TextLanguageID">
    <attribute name="val">
      <ref name="s_ST_Lang"/>
    </attribute>
  </define>
  <define name="dchrt_CT_Lvl">
    <zeroOrMore>
      <element name="pt">
        <ref name="dchrt_CT_StrVal"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_CT_MultiLvlStrData">
    <optional>
      <element name="ptCount">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="lvl">
        <ref name="dchrt_CT_Lvl"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_MultiLvlStrRef">
    <element name="f">
      <data type="string"/>
    </element>
    <optional>
      <element name="multiLvlStrCache">
        <ref name="dchrt_CT_MultiLvlStrData"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_AxDataSource">
    <choice>
      <element name="multiLvlStrRef">
        <ref name="dchrt_CT_MultiLvlStrRef"/>
      </element>
      <element name="numRef">
        <ref name="dchrt_CT_NumRef"/>
      </element>
      <element name="numLit">
        <ref name="dchrt_CT_NumData"/>
      </element>
      <element name="strRef">
        <ref name="dchrt_CT_StrRef"/>
      </element>
      <element name="strLit">
        <ref name="dchrt_CT_StrData"/>
      </element>
    </choice>
  </define>
  <define name="dchrt_CT_SerTx">
    <choice>
      <element name="strRef">
        <ref name="dchrt_CT_StrRef"/>
      </element>
      <element name="v">
        <ref name="s_ST_Xstring"/>
      </element>
    </choice>
  </define>
  <define name="dchrt_ST_LayoutTarget">
    <choice>
      <value type="string" datatypeLibrary="">inner</value>
      <value type="string" datatypeLibrary="">outer</value>
    </choice>
  </define>
  <define name="dchrt_CT_LayoutTarget">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: outer</aa:documentation>
        <ref name="dchrt_ST_LayoutTarget"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_LayoutMode">
    <choice>
      <value type="string" datatypeLibrary="">edge</value>
      <value type="string" datatypeLibrary="">factor</value>
    </choice>
  </define>
  <define name="dchrt_CT_LayoutMode">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: factor</aa:documentation>
        <ref name="dchrt_ST_LayoutMode"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_ManualLayout">
    <optional>
      <element name="layoutTarget">
        <ref name="dchrt_CT_LayoutTarget"/>
      </element>
    </optional>
    <optional>
      <element name="xMode">
        <ref name="dchrt_CT_LayoutMode"/>
      </element>
    </optional>
    <optional>
      <element name="yMode">
        <ref name="dchrt_CT_LayoutMode"/>
      </element>
    </optional>
    <optional>
      <element name="wMode">
        <ref name="dchrt_CT_LayoutMode"/>
      </element>
    </optional>
    <optional>
      <element name="hMode">
        <ref name="dchrt_CT_LayoutMode"/>
      </element>
    </optional>
    <optional>
      <element name="x">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="y">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="w">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="h">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Layout">
    <optional>
      <element name="manualLayout">
        <ref name="dchrt_CT_ManualLayout"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Title">
    <optional>
      <element name="tx">
        <ref name="dchrt_CT_Tx"/>
      </element>
    </optional>
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <optional>
      <element name="overlay">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_RotX">
    <data type="byte">
      <param name="minInclusive">-90</param>
      <param name="maxInclusive">90</param>
    </data>
  </define>
  <define name="dchrt_CT_RotX">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 0</aa:documentation>
        <ref name="dchrt_ST_RotX"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_HPercent">
    <ref name="dchrt_ST_HPercentWithSymbol"/>
  </define>
  <define name="dchrt_ST_HPercentWithSymbol">
    <data type="string">
      <param name="pattern">0*(([5-9])|([1-9][0-9])|([1-4][0-9][0-9])|500)%</param>
    </data>
  </define>
  <define name="dchrt_CT_HPercent">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 100%</aa:documentation>
        <ref name="dchrt_ST_HPercent"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_RotY">
    <data type="unsignedShort">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">360</param>
    </data>
  </define>
  <define name="dchrt_CT_RotY">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 0</aa:documentation>
        <ref name="dchrt_ST_RotY"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_DepthPercent">
    <ref name="dchrt_ST_DepthPercentWithSymbol"/>
  </define>
  <define name="dchrt_ST_DepthPercentWithSymbol">
    <data type="string">
      <param name="pattern">0*(([2-9][0-9])|([1-9][0-9][0-9])|(1[0-9][0-9][0-9])|2000)%</param>
    </data>
  </define>
  <define name="dchrt_CT_DepthPercent">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 100%</aa:documentation>
        <ref name="dchrt_ST_DepthPercent"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Perspective">
    <data type="unsignedByte">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">240</param>
    </data>
  </define>
  <define name="dchrt_CT_Perspective">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 30</aa:documentation>
        <ref name="dchrt_ST_Perspective"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_View3D">
    <optional>
      <element name="rotX">
        <ref name="dchrt_CT_RotX"/>
      </element>
    </optional>
    <optional>
      <element name="hPercent">
        <ref name="dchrt_CT_HPercent"/>
      </element>
    </optional>
    <optional>
      <element name="rotY">
        <ref name="dchrt_CT_RotY"/>
      </element>
    </optional>
    <optional>
      <element name="depthPercent">
        <ref name="dchrt_CT_DepthPercent"/>
      </element>
    </optional>
    <optional>
      <element name="rAngAx">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="perspective">
        <ref name="dchrt_CT_Perspective"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Surface">
    <optional>
      <element name="thickness">
        <ref name="dchrt_CT_Thickness"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="pictureOptions">
        <ref name="dchrt_CT_PictureOptions"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_Thickness">
    <ref name="dchrt_ST_ThicknessPercent"/>
  </define>
  <define name="dchrt_ST_ThicknessPercent">
    <data type="string">
      <param name="pattern">([0-9]+)%</param>
    </data>
  </define>
  <define name="dchrt_CT_Thickness">
    <attribute name="val">
      <ref name="dchrt_ST_Thickness"/>
    </attribute>
  </define>
  <define name="dchrt_CT_DTable">
    <optional>
      <element name="showHorzBorder">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showVertBorder">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showOutline">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showKeys">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_GapAmount">
    <ref name="dchrt_ST_GapAmountPercent"/>
  </define>
  <define name="dchrt_ST_GapAmountPercent">
    <data type="string">
      <param name="pattern">0*(([0-9])|([1-9][0-9])|([1-4][0-9][0-9])|500)%</param>
    </data>
  </define>
  <define name="dchrt_CT_GapAmount">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 150%</aa:documentation>
        <ref name="dchrt_ST_GapAmount"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Overlap">
    <ref name="dchrt_ST_OverlapPercent"/>
  </define>
  <define name="dchrt_ST_OverlapPercent">
    <data type="string">
      <param name="pattern">(-?0*(([0-9])|([1-9][0-9])|100))%</param>
    </data>
  </define>
  <define name="dchrt_CT_Overlap">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 0%</aa:documentation>
        <ref name="dchrt_ST_Overlap"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_BubbleScale">
    <ref name="dchrt_ST_BubbleScalePercent"/>
  </define>
  <define name="dchrt_ST_BubbleScalePercent">
    <data type="string">
      <param name="pattern">0*(([0-9])|([1-9][0-9])|([1-2][0-9][0-9])|300)%</param>
    </data>
  </define>
  <define name="dchrt_CT_BubbleScale">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 100%</aa:documentation>
        <ref name="dchrt_ST_BubbleScale"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_SizeRepresents">
    <choice>
      <value type="string" datatypeLibrary="">area</value>
      <value type="string" datatypeLibrary="">w</value>
    </choice>
  </define>
  <define name="dchrt_CT_SizeRepresents">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: area</aa:documentation>
        <ref name="dchrt_ST_SizeRepresents"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_FirstSliceAng">
    <data type="unsignedShort">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">360</param>
    </data>
  </define>
  <define name="dchrt_CT_FirstSliceAng">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 0</aa:documentation>
        <ref name="dchrt_ST_FirstSliceAng"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_HoleSize">
    <ref name="dchrt_ST_HoleSizePercent"/>
  </define>
  <define name="dchrt_ST_HoleSizePercent">
    <data type="string">
      <param name="pattern">0*([1-9]|([1-8][0-9])|90)%</param>
    </data>
  </define>
  <define name="dchrt_CT_HoleSize">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 10%</aa:documentation>
        <ref name="dchrt_ST_HoleSize"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_SplitType">
    <choice>
      <value type="string" datatypeLibrary="">auto</value>
      <value type="string" datatypeLibrary="">cust</value>
      <value type="string" datatypeLibrary="">percent</value>
      <value type="string" datatypeLibrary="">pos</value>
      <value type="string" datatypeLibrary="">val</value>
    </choice>
  </define>
  <define name="dchrt_CT_SplitType">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: auto</aa:documentation>
        <ref name="dchrt_ST_SplitType"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_CustSplit">
    <zeroOrMore>
      <element name="secondPiePt">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_ST_SecondPieSize">
    <ref name="dchrt_ST_SecondPieSizePercent"/>
  </define>
  <define name="dchrt_ST_SecondPieSizePercent">
    <data type="string">
      <param name="pattern">0*(([5-9])|([1-9][0-9])|(1[0-9][0-9])|200)%</param>
    </data>
  </define>
  <define name="dchrt_CT_SecondPieSize">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 75%</aa:documentation>
        <ref name="dchrt_ST_SecondPieSize"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_NumFmt">
    <attribute name="formatCode">
      <ref name="s_ST_Xstring"/>
    </attribute>
    <optional>
      <attribute name="sourceLinked">
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_LblAlgn">
    <choice>
      <value type="string" datatypeLibrary="">ctr</value>
      <value type="string" datatypeLibrary="">l</value>
      <value type="string" datatypeLibrary="">r</value>
    </choice>
  </define>
  <define name="dchrt_CT_LblAlgn">
    <attribute name="val">
      <ref name="dchrt_ST_LblAlgn"/>
    </attribute>
  </define>
  <define name="dchrt_ST_DLblPos">
    <choice>
      <value type="string" datatypeLibrary="">bestFit</value>
      <value type="string" datatypeLibrary="">b</value>
      <value type="string" datatypeLibrary="">ctr</value>
      <value type="string" datatypeLibrary="">inBase</value>
      <value type="string" datatypeLibrary="">inEnd</value>
      <value type="string" datatypeLibrary="">l</value>
      <value type="string" datatypeLibrary="">outEnd</value>
      <value type="string" datatypeLibrary="">r</value>
      <value type="string" datatypeLibrary="">t</value>
    </choice>
  </define>
  <define name="dchrt_CT_DLblPos">
    <attribute name="val">
      <ref name="dchrt_ST_DLblPos"/>
    </attribute>
  </define>
  <define name="dchrt_EG_DLblShared">
    <optional>
      <element name="numFmt">
        <ref name="dchrt_CT_NumFmt"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="dLblPos">
        <ref name="dchrt_CT_DLblPos"/>
      </element>
    </optional>
    <optional>
      <element name="showLegendKey">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showVal">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showCatName">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showSerName">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showPercent">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="showBubbleSize">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="separator">
        <data type="string"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_Group_DLbl">
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <optional>
      <element name="tx">
        <ref name="dchrt_CT_Tx"/>
      </element>
    </optional>
    <ref name="dchrt_EG_DLblShared"/>
  </define>
  <define name="dchrt_CT_DLbl">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <choice>
      <element name="delete">
        <ref name="dchrt_CT_Boolean"/>
      </element>
      <ref name="dchrt_Group_DLbl"/>
    </choice>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_Group_DLbls">
    <ref name="dchrt_EG_DLblShared"/>
    <optional>
      <element name="showLeaderLines">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="leaderLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DLbls">
    <zeroOrMore>
      <element name="dLbl">
        <ref name="dchrt_CT_DLbl"/>
      </element>
    </zeroOrMore>
    <choice>
      <element name="delete">
        <ref name="dchrt_CT_Boolean"/>
      </element>
      <ref name="dchrt_Group_DLbls"/>
    </choice>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_MarkerStyle">
    <choice>
      <value type="string" datatypeLibrary="">circle</value>
      <value type="string" datatypeLibrary="">dash</value>
      <value type="string" datatypeLibrary="">diamond</value>
      <value type="string" datatypeLibrary="">dot</value>
      <value type="string" datatypeLibrary="">none</value>
      <value type="string" datatypeLibrary="">picture</value>
      <value type="string" datatypeLibrary="">plus</value>
      <value type="string" datatypeLibrary="">square</value>
      <value type="string" datatypeLibrary="">star</value>
      <value type="string" datatypeLibrary="">triangle</value>
      <value type="string" datatypeLibrary="">x</value>
      <value type="string" datatypeLibrary="">auto</value>
    </choice>
  </define>
  <define name="dchrt_CT_MarkerStyle">
    <attribute name="val">
      <ref name="dchrt_ST_MarkerStyle"/>
    </attribute>
  </define>
  <define name="dchrt_ST_MarkerSize">
    <data type="unsignedByte">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">72</param>
    </data>
  </define>
  <define name="dchrt_CT_MarkerSize">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 5</aa:documentation>
        <ref name="dchrt_ST_MarkerSize"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_Marker">
    <optional>
      <element name="symbol">
        <ref name="dchrt_CT_MarkerStyle"/>
      </element>
    </optional>
    <optional>
      <element name="size">
        <ref name="dchrt_CT_MarkerSize"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DPt">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <optional>
      <element name="invertIfNegative">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Marker"/>
      </element>
    </optional>
    <optional>
      <element name="bubble3D">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="explosion">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="pictureOptions">
        <ref name="dchrt_CT_PictureOptions"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_TrendlineType">
    <choice>
      <value type="string" datatypeLibrary="">exp</value>
      <value type="string" datatypeLibrary="">linear</value>
      <value type="string" datatypeLibrary="">log</value>
      <value type="string" datatypeLibrary="">movingAvg</value>
      <value type="string" datatypeLibrary="">poly</value>
      <value type="string" datatypeLibrary="">power</value>
    </choice>
  </define>
  <define name="dchrt_CT_TrendlineType">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: linear</aa:documentation>
        <ref name="dchrt_ST_TrendlineType"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Order">
    <data type="unsignedByte">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">6</param>
    </data>
  </define>
  <define name="dchrt_CT_Order">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 2</aa:documentation>
        <ref name="dchrt_ST_Order"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Period">
    <data type="unsignedInt">
      <param name="minInclusive">2</param>
    </data>
  </define>
  <define name="dchrt_CT_Period">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 2</aa:documentation>
        <ref name="dchrt_ST_Period"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_TrendlineLbl">
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <optional>
      <element name="tx">
        <ref name="dchrt_CT_Tx"/>
      </element>
    </optional>
    <optional>
      <element name="numFmt">
        <ref name="dchrt_CT_NumFmt"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Trendline">
    <optional>
      <element name="name">
        <data type="string"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <element name="trendlineType">
      <ref name="dchrt_CT_TrendlineType"/>
    </element>
    <optional>
      <element name="order">
        <ref name="dchrt_CT_Order"/>
      </element>
    </optional>
    <optional>
      <element name="period">
        <ref name="dchrt_CT_Period"/>
      </element>
    </optional>
    <optional>
      <element name="forward">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="backward">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="intercept">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="dispRSqr">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="dispEq">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="trendlineLbl">
        <ref name="dchrt_CT_TrendlineLbl"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_ErrDir">
    <choice>
      <value type="string" datatypeLibrary="">x</value>
      <value type="string" datatypeLibrary="">y</value>
    </choice>
  </define>
  <define name="dchrt_CT_ErrDir">
    <attribute name="val">
      <ref name="dchrt_ST_ErrDir"/>
    </attribute>
  </define>
  <define name="dchrt_ST_ErrBarType">
    <choice>
      <value type="string" datatypeLibrary="">both</value>
      <value type="string" datatypeLibrary="">minus</value>
      <value type="string" datatypeLibrary="">plus</value>
    </choice>
  </define>
  <define name="dchrt_CT_ErrBarType">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: both</aa:documentation>
        <ref name="dchrt_ST_ErrBarType"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_ErrValType">
    <choice>
      <value type="string" datatypeLibrary="">cust</value>
      <value type="string" datatypeLibrary="">fixedVal</value>
      <value type="string" datatypeLibrary="">percentage</value>
      <value type="string" datatypeLibrary="">stdDev</value>
      <value type="string" datatypeLibrary="">stdErr</value>
    </choice>
  </define>
  <define name="dchrt_CT_ErrValType">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: fixedVal</aa:documentation>
        <ref name="dchrt_ST_ErrValType"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_ErrBars">
    <optional>
      <element name="errDir">
        <ref name="dchrt_CT_ErrDir"/>
      </element>
    </optional>
    <element name="errBarType">
      <ref name="dchrt_CT_ErrBarType"/>
    </element>
    <element name="errValType">
      <ref name="dchrt_CT_ErrValType"/>
    </element>
    <optional>
      <element name="noEndCap">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="plus">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="minus">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_UpDownBar">
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_UpDownBars">
    <optional>
      <element name="gapWidth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <optional>
      <element name="upBars">
        <ref name="dchrt_CT_UpDownBar"/>
      </element>
    </optional>
    <optional>
      <element name="downBars">
        <ref name="dchrt_CT_UpDownBar"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_EG_SerShared">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <element name="order">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <optional>
      <element name="tx">
        <ref name="dchrt_CT_SerTx"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_LineSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Marker"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trendline">
        <ref name="dchrt_CT_Trendline"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="errBars">
        <ref name="dchrt_CT_ErrBars"/>
      </element>
    </optional>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="smooth">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_ScatterSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Marker"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trendline">
        <ref name="dchrt_CT_Trendline"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="errBars">
        <ref name="dchrt_CT_ErrBars"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="xVal">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="yVal">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="smooth">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_RadarSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Marker"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BarSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="invertIfNegative">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="pictureOptions">
        <ref name="dchrt_CT_PictureOptions"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trendline">
        <ref name="dchrt_CT_Trendline"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="errBars">
        <ref name="dchrt_CT_ErrBars"/>
      </element>
    </optional>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="shape">
        <ref name="dchrt_CT_Shape"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_AreaSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="pictureOptions">
        <ref name="dchrt_CT_PictureOptions"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trendline">
        <ref name="dchrt_CT_Trendline"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="errBars">
        <ref name="dchrt_CT_ErrBars"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PieSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="explosion">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BubbleSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="invertIfNegative">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="dPt">
        <ref name="dchrt_CT_DPt"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="trendline">
        <ref name="dchrt_CT_Trendline"/>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="errBars">
        <ref name="dchrt_CT_ErrBars"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="xVal">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="yVal">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="bubbleSize">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="bubble3D">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_SurfaceSer">
    <ref name="dchrt_EG_SerShared"/>
    <optional>
      <element name="cat">
        <ref name="dchrt_CT_AxDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="val">
        <ref name="dchrt_CT_NumDataSource"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_Grouping">
    <choice>
      <value type="string" datatypeLibrary="">percentStacked</value>
      <value type="string" datatypeLibrary="">standard</value>
      <value type="string" datatypeLibrary="">stacked</value>
    </choice>
  </define>
  <define name="dchrt_CT_Grouping">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: standard</aa:documentation>
        <ref name="dchrt_ST_Grouping"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_ChartLines">
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_EG_LineChartShared">
    <element name="grouping">
      <ref name="dchrt_CT_Grouping"/>
    </element>
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_LineSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="dropLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_LineChart">
    <ref name="dchrt_EG_LineChartShared"/>
    <optional>
      <element name="hiLowLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
    <optional>
      <element name="upDownBars">
        <ref name="dchrt_CT_UpDownBars"/>
      </element>
    </optional>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="smooth">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Line3DChart">
    <ref name="dchrt_EG_LineChartShared"/>
    <optional>
      <element name="gapDepth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_StockChart">
    <oneOrMore>
      <element name="ser">
        <ref name="dchrt_CT_LineSer"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="dropLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
    <optional>
      <element name="hiLowLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
    <optional>
      <element name="upDownBars">
        <ref name="dchrt_CT_UpDownBars"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_ScatterStyle">
    <choice>
      <value type="string" datatypeLibrary="">none</value>
      <value type="string" datatypeLibrary="">line</value>
      <value type="string" datatypeLibrary="">lineMarker</value>
      <value type="string" datatypeLibrary="">marker</value>
      <value type="string" datatypeLibrary="">smooth</value>
      <value type="string" datatypeLibrary="">smoothMarker</value>
    </choice>
  </define>
  <define name="dchrt_CT_ScatterStyle">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: marker</aa:documentation>
        <ref name="dchrt_ST_ScatterStyle"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_ScatterChart">
    <element name="scatterStyle">
      <ref name="dchrt_CT_ScatterStyle"/>
    </element>
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_ScatterSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_RadarStyle">
    <choice>
      <value type="string" datatypeLibrary="">standard</value>
      <value type="string" datatypeLibrary="">marker</value>
      <value type="string" datatypeLibrary="">filled</value>
    </choice>
  </define>
  <define name="dchrt_CT_RadarStyle">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: standard</aa:documentation>
        <ref name="dchrt_ST_RadarStyle"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_RadarChart">
    <element name="radarStyle">
      <ref name="dchrt_CT_RadarStyle"/>
    </element>
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_RadarSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_BarGrouping">
    <choice>
      <value type="string" datatypeLibrary="">percentStacked</value>
      <value type="string" datatypeLibrary="">clustered</value>
      <value type="string" datatypeLibrary="">standard</value>
      <value type="string" datatypeLibrary="">stacked</value>
    </choice>
  </define>
  <define name="dchrt_CT_BarGrouping">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: clustered</aa:documentation>
        <ref name="dchrt_ST_BarGrouping"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_BarDir">
    <choice>
      <value type="string" datatypeLibrary="">bar</value>
      <value type="string" datatypeLibrary="">col</value>
    </choice>
  </define>
  <define name="dchrt_CT_BarDir">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: col</aa:documentation>
        <ref name="dchrt_ST_BarDir"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Shape">
    <choice>
      <value type="string" datatypeLibrary="">cone</value>
      <value type="string" datatypeLibrary="">coneToMax</value>
      <value type="string" datatypeLibrary="">box</value>
      <value type="string" datatypeLibrary="">cylinder</value>
      <value type="string" datatypeLibrary="">pyramid</value>
      <value type="string" datatypeLibrary="">pyramidToMax</value>
    </choice>
  </define>
  <define name="dchrt_CT_Shape">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: box</aa:documentation>
        <ref name="dchrt_ST_Shape"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_EG_BarChartShared">
    <element name="barDir">
      <ref name="dchrt_CT_BarDir"/>
    </element>
    <optional>
      <element name="grouping">
        <ref name="dchrt_CT_BarGrouping"/>
      </element>
    </optional>
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_BarSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BarChart">
    <ref name="dchrt_EG_BarChartShared"/>
    <optional>
      <element name="gapWidth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <optional>
      <element name="overlap">
        <ref name="dchrt_CT_Overlap"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="serLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </zeroOrMore>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Bar3DChart">
    <ref name="dchrt_EG_BarChartShared"/>
    <optional>
      <element name="gapWidth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <optional>
      <element name="gapDepth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <optional>
      <element name="shape">
        <ref name="dchrt_CT_Shape"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_EG_AreaChartShared">
    <optional>
      <element name="grouping">
        <ref name="dchrt_CT_Grouping"/>
      </element>
    </optional>
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_AreaSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="dropLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_AreaChart">
    <ref name="dchrt_EG_AreaChartShared"/>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Area3DChart">
    <ref name="dchrt_EG_AreaChartShared"/>
    <optional>
      <element name="gapDepth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_EG_PieChartShared">
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_PieSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PieChart">
    <ref name="dchrt_EG_PieChartShared"/>
    <optional>
      <element name="firstSliceAng">
        <ref name="dchrt_CT_FirstSliceAng"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Pie3DChart">
    <ref name="dchrt_EG_PieChartShared"/>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DoughnutChart">
    <ref name="dchrt_EG_PieChartShared"/>
    <optional>
      <element name="firstSliceAng">
        <ref name="dchrt_CT_FirstSliceAng"/>
      </element>
    </optional>
    <optional>
      <element name="holeSize">
        <ref name="dchrt_CT_HoleSize"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_OfPieType">
    <choice>
      <value type="string" datatypeLibrary="">pie</value>
      <value type="string" datatypeLibrary="">bar</value>
    </choice>
  </define>
  <define name="dchrt_CT_OfPieType">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: pie</aa:documentation>
        <ref name="dchrt_ST_OfPieType"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_OfPieChart">
    <element name="ofPieType">
      <ref name="dchrt_CT_OfPieType"/>
    </element>
    <ref name="dchrt_EG_PieChartShared"/>
    <optional>
      <element name="gapWidth">
        <ref name="dchrt_CT_GapAmount"/>
      </element>
    </optional>
    <optional>
      <element name="splitType">
        <ref name="dchrt_CT_SplitType"/>
      </element>
    </optional>
    <optional>
      <element name="splitPos">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="custSplit">
        <ref name="dchrt_CT_CustSplit"/>
      </element>
    </optional>
    <optional>
      <element name="secondPieSize">
        <ref name="dchrt_CT_SecondPieSize"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="serLines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BubbleChart">
    <optional>
      <element name="varyColors">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_BubbleSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="dLbls">
        <ref name="dchrt_CT_DLbls"/>
      </element>
    </optional>
    <optional>
      <element name="bubble3D">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="bubbleScale">
        <ref name="dchrt_CT_BubbleScale"/>
      </element>
    </optional>
    <optional>
      <element name="showNegBubbles">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="sizeRepresents">
        <ref name="dchrt_CT_SizeRepresents"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BandFmt">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_BandFmts">
    <zeroOrMore>
      <element name="bandFmt">
        <ref name="dchrt_CT_BandFmt"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_EG_SurfaceChartShared">
    <optional>
      <element name="wireframe">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="ser">
        <ref name="dchrt_CT_SurfaceSer"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="bandFmts">
        <ref name="dchrt_CT_BandFmts"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_SurfaceChart">
    <ref name="dchrt_EG_SurfaceChartShared"/>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Surface3DChart">
    <ref name="dchrt_EG_SurfaceChartShared"/>
    <oneOrMore>
      <element name="axId">
        <ref name="dchrt_CT_UnsignedInt"/>
      </element>
    </oneOrMore>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_AxPos">
    <choice>
      <value type="string" datatypeLibrary="">b</value>
      <value type="string" datatypeLibrary="">l</value>
      <value type="string" datatypeLibrary="">r</value>
      <value type="string" datatypeLibrary="">t</value>
    </choice>
  </define>
  <define name="dchrt_CT_AxPos">
    <attribute name="val">
      <ref name="dchrt_ST_AxPos"/>
    </attribute>
  </define>
  <define name="dchrt_ST_Crosses">
    <choice>
      <value type="string" datatypeLibrary="">autoZero</value>
      <value type="string" datatypeLibrary="">max</value>
      <value type="string" datatypeLibrary="">min</value>
    </choice>
  </define>
  <define name="dchrt_CT_Crosses">
    <attribute name="val">
      <ref name="dchrt_ST_Crosses"/>
    </attribute>
  </define>
  <define name="dchrt_ST_CrossBetween">
    <choice>
      <value type="string" datatypeLibrary="">between</value>
      <value type="string" datatypeLibrary="">midCat</value>
    </choice>
  </define>
  <define name="dchrt_CT_CrossBetween">
    <attribute name="val">
      <ref name="dchrt_ST_CrossBetween"/>
    </attribute>
  </define>
  <define name="dchrt_ST_TickMark">
    <choice>
      <value type="string" datatypeLibrary="">cross</value>
      <value type="string" datatypeLibrary="">in</value>
      <value type="string" datatypeLibrary="">none</value>
      <value type="string" datatypeLibrary="">out</value>
    </choice>
  </define>
  <define name="dchrt_CT_TickMark">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: cross</aa:documentation>
        <ref name="dchrt_ST_TickMark"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_TickLblPos">
    <choice>
      <value type="string" datatypeLibrary="">high</value>
      <value type="string" datatypeLibrary="">low</value>
      <value type="string" datatypeLibrary="">nextTo</value>
      <value type="string" datatypeLibrary="">none</value>
    </choice>
  </define>
  <define name="dchrt_CT_TickLblPos">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: nextTo</aa:documentation>
        <ref name="dchrt_ST_TickLblPos"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_Skip">
    <data type="unsignedInt">
      <param name="minInclusive">1</param>
    </data>
  </define>
  <define name="dchrt_CT_Skip">
    <attribute name="val">
      <ref name="dchrt_ST_Skip"/>
    </attribute>
  </define>
  <define name="dchrt_ST_TimeUnit">
    <choice>
      <value type="string" datatypeLibrary="">days</value>
      <value type="string" datatypeLibrary="">months</value>
      <value type="string" datatypeLibrary="">years</value>
    </choice>
  </define>
  <define name="dchrt_CT_TimeUnit">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: days</aa:documentation>
        <ref name="dchrt_ST_TimeUnit"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_AxisUnit">
    <data type="double">
      <param name="minExclusive">0</param>
    </data>
  </define>
  <define name="dchrt_CT_AxisUnit">
    <attribute name="val">
      <ref name="dchrt_ST_AxisUnit"/>
    </attribute>
  </define>
  <define name="dchrt_ST_BuiltInUnit">
    <choice>
      <value type="string" datatypeLibrary="">hundreds</value>
      <value type="string" datatypeLibrary="">thousands</value>
      <value type="string" datatypeLibrary="">tenThousands</value>
      <value type="string" datatypeLibrary="">hundredThousands</value>
      <value type="string" datatypeLibrary="">millions</value>
      <value type="string" datatypeLibrary="">tenMillions</value>
      <value type="string" datatypeLibrary="">hundredMillions</value>
      <value type="string" datatypeLibrary="">billions</value>
      <value type="string" datatypeLibrary="">trillions</value>
    </choice>
  </define>
  <define name="dchrt_CT_BuiltInUnit">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: thousands</aa:documentation>
        <ref name="dchrt_ST_BuiltInUnit"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_PictureFormat">
    <choice>
      <value type="string" datatypeLibrary="">stretch</value>
      <value type="string" datatypeLibrary="">stack</value>
      <value type="string" datatypeLibrary="">stackScale</value>
    </choice>
  </define>
  <define name="dchrt_CT_PictureFormat">
    <attribute name="val">
      <ref name="dchrt_ST_PictureFormat"/>
    </attribute>
  </define>
  <define name="dchrt_ST_PictureStackUnit">
    <data type="double">
      <param name="minExclusive">0</param>
    </data>
  </define>
  <define name="dchrt_CT_PictureStackUnit">
    <attribute name="val">
      <ref name="dchrt_ST_PictureStackUnit"/>
    </attribute>
  </define>
  <define name="dchrt_CT_PictureOptions">
    <optional>
      <element name="applyToFront">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="applyToSides">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="applyToEnd">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="pictureFormat">
        <ref name="dchrt_CT_PictureFormat"/>
      </element>
    </optional>
    <optional>
      <element name="pictureStackUnit">
        <ref name="dchrt_CT_PictureStackUnit"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DispUnitsLbl">
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <optional>
      <element name="tx">
        <ref name="dchrt_CT_Tx"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DispUnits">
    <choice>
      <element name="custUnit">
        <ref name="dchrt_CT_Double"/>
      </element>
      <element name="builtInUnit">
        <ref name="dchrt_CT_BuiltInUnit"/>
      </element>
    </choice>
    <optional>
      <element name="dispUnitsLbl">
        <ref name="dchrt_CT_DispUnitsLbl"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_Orientation">
    <choice>
      <value type="string" datatypeLibrary="">maxMin</value>
      <value type="string" datatypeLibrary="">minMax</value>
    </choice>
  </define>
  <define name="dchrt_CT_Orientation">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: minMax</aa:documentation>
        <ref name="dchrt_ST_Orientation"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_ST_LogBase">
    <data type="double">
      <param name="minInclusive">2</param>
      <param name="maxInclusive">1000</param>
    </data>
  </define>
  <define name="dchrt_CT_LogBase">
    <attribute name="val">
      <ref name="dchrt_ST_LogBase"/>
    </attribute>
  </define>
  <define name="dchrt_CT_Scaling">
    <optional>
      <element name="logBase">
        <ref name="dchrt_CT_LogBase"/>
      </element>
    </optional>
    <optional>
      <element name="orientation">
        <ref name="dchrt_CT_Orientation"/>
      </element>
    </optional>
    <optional>
      <element name="max">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="min">
        <ref name="dchrt_CT_Double"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_LblOffset">
    <ref name="dchrt_ST_LblOffsetPercent"/>
  </define>
  <define name="dchrt_ST_LblOffsetPercent">
    <data type="string">
      <param name="pattern">0*(([0-9])|([1-9][0-9])|([1-9][0-9][0-9])|1000)%</param>
    </data>
  </define>
  <define name="dchrt_CT_LblOffset">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: 100%</aa:documentation>
        <ref name="dchrt_ST_LblOffset"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_EG_AxShared">
    <element name="axId">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <element name="scaling">
      <ref name="dchrt_CT_Scaling"/>
    </element>
    <optional>
      <element name="delete">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <element name="axPos">
      <ref name="dchrt_CT_AxPos"/>
    </element>
    <optional>
      <element name="majorGridlines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
    <optional>
      <element name="minorGridlines">
        <ref name="dchrt_CT_ChartLines"/>
      </element>
    </optional>
    <optional>
      <element name="title">
        <ref name="dchrt_CT_Title"/>
      </element>
    </optional>
    <optional>
      <element name="numFmt">
        <ref name="dchrt_CT_NumFmt"/>
      </element>
    </optional>
    <optional>
      <element name="majorTickMark">
        <ref name="dchrt_CT_TickMark"/>
      </element>
    </optional>
    <optional>
      <element name="minorTickMark">
        <ref name="dchrt_CT_TickMark"/>
      </element>
    </optional>
    <optional>
      <element name="tickLblPos">
        <ref name="dchrt_CT_TickLblPos"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <element name="crossAx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <optional>
      <choice>
        <element name="crosses">
          <ref name="dchrt_CT_Crosses"/>
        </element>
        <element name="crossesAt">
          <ref name="dchrt_CT_Double"/>
        </element>
      </choice>
    </optional>
  </define>
  <define name="dchrt_CT_CatAx">
    <ref name="dchrt_EG_AxShared"/>
    <optional>
      <element name="auto">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="lblAlgn">
        <ref name="dchrt_CT_LblAlgn"/>
      </element>
    </optional>
    <optional>
      <element name="lblOffset">
        <ref name="dchrt_CT_LblOffset"/>
      </element>
    </optional>
    <optional>
      <element name="tickLblSkip">
        <ref name="dchrt_CT_Skip"/>
      </element>
    </optional>
    <optional>
      <element name="tickMarkSkip">
        <ref name="dchrt_CT_Skip"/>
      </element>
    </optional>
    <optional>
      <element name="noMultiLvlLbl">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_DateAx">
    <ref name="dchrt_EG_AxShared"/>
    <optional>
      <element name="auto">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="lblOffset">
        <ref name="dchrt_CT_LblOffset"/>
      </element>
    </optional>
    <optional>
      <element name="baseTimeUnit">
        <ref name="dchrt_CT_TimeUnit"/>
      </element>
    </optional>
    <optional>
      <element name="majorUnit">
        <ref name="dchrt_CT_AxisUnit"/>
      </element>
    </optional>
    <optional>
      <element name="majorTimeUnit">
        <ref name="dchrt_CT_TimeUnit"/>
      </element>
    </optional>
    <optional>
      <element name="minorUnit">
        <ref name="dchrt_CT_AxisUnit"/>
      </element>
    </optional>
    <optional>
      <element name="minorTimeUnit">
        <ref name="dchrt_CT_TimeUnit"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_SerAx">
    <ref name="dchrt_EG_AxShared"/>
    <optional>
      <element name="tickLblSkip">
        <ref name="dchrt_CT_Skip"/>
      </element>
    </optional>
    <optional>
      <element name="tickMarkSkip">
        <ref name="dchrt_CT_Skip"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_ValAx">
    <ref name="dchrt_EG_AxShared"/>
    <optional>
      <element name="crossBetween">
        <ref name="dchrt_CT_CrossBetween"/>
      </element>
    </optional>
    <optional>
      <element name="majorUnit">
        <ref name="dchrt_CT_AxisUnit"/>
      </element>
    </optional>
    <optional>
      <element name="minorUnit">
        <ref name="dchrt_CT_AxisUnit"/>
      </element>
    </optional>
    <optional>
      <element name="dispUnits">
        <ref name="dchrt_CT_DispUnits"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PlotArea">
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <oneOrMore>
      <choice>
        <element name="areaChart">
          <ref name="dchrt_CT_AreaChart"/>
        </element>
        <element name="area3DChart">
          <ref name="dchrt_CT_Area3DChart"/>
        </element>
        <element name="lineChart">
          <ref name="dchrt_CT_LineChart"/>
        </element>
        <element name="line3DChart">
          <ref name="dchrt_CT_Line3DChart"/>
        </element>
        <element name="stockChart">
          <ref name="dchrt_CT_StockChart"/>
        </element>
        <element name="radarChart">
          <ref name="dchrt_CT_RadarChart"/>
        </element>
        <element name="scatterChart">
          <ref name="dchrt_CT_ScatterChart"/>
        </element>
        <element name="pieChart">
          <ref name="dchrt_CT_PieChart"/>
        </element>
        <element name="pie3DChart">
          <ref name="dchrt_CT_Pie3DChart"/>
        </element>
        <element name="doughnutChart">
          <ref name="dchrt_CT_DoughnutChart"/>
        </element>
        <element name="barChart">
          <ref name="dchrt_CT_BarChart"/>
        </element>
        <element name="bar3DChart">
          <ref name="dchrt_CT_Bar3DChart"/>
        </element>
        <element name="ofPieChart">
          <ref name="dchrt_CT_OfPieChart"/>
        </element>
        <element name="surfaceChart">
          <ref name="dchrt_CT_SurfaceChart"/>
        </element>
        <element name="surface3DChart">
          <ref name="dchrt_CT_Surface3DChart"/>
        </element>
        <element name="bubbleChart">
          <ref name="dchrt_CT_BubbleChart"/>
        </element>
      </choice>
    </oneOrMore>
    <zeroOrMore>
      <choice>
        <element name="valAx">
          <ref name="dchrt_CT_ValAx"/>
        </element>
        <element name="catAx">
          <ref name="dchrt_CT_CatAx"/>
        </element>
        <element name="dateAx">
          <ref name="dchrt_CT_DateAx"/>
        </element>
        <element name="serAx">
          <ref name="dchrt_CT_SerAx"/>
        </element>
      </choice>
    </zeroOrMore>
    <optional>
      <element name="dTable">
        <ref name="dchrt_CT_DTable"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PivotFmt">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="marker">
        <ref name="dchrt_CT_Marker"/>
      </element>
    </optional>
    <optional>
      <element name="dLbl">
        <ref name="dchrt_CT_DLbl"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PivotFmts">
    <zeroOrMore>
      <element name="pivotFmt">
        <ref name="dchrt_CT_PivotFmt"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_ST_LegendPos">
    <choice>
      <value type="string" datatypeLibrary="">b</value>
      <value type="string" datatypeLibrary="">tr</value>
      <value type="string" datatypeLibrary="">l</value>
      <value type="string" datatypeLibrary="">r</value>
      <value type="string" datatypeLibrary="">t</value>
    </choice>
  </define>
  <define name="dchrt_CT_LegendPos">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: r</aa:documentation>
        <ref name="dchrt_ST_LegendPos"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_EG_LegendEntryData">
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_LegendEntry">
    <element name="idx">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <choice>
      <element name="delete">
        <ref name="dchrt_CT_Boolean"/>
      </element>
      <ref name="dchrt_EG_LegendEntryData"/>
    </choice>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_Legend">
    <optional>
      <element name="legendPos">
        <ref name="dchrt_CT_LegendPos"/>
      </element>
    </optional>
    <zeroOrMore>
      <element name="legendEntry">
        <ref name="dchrt_CT_LegendEntry"/>
      </element>
    </zeroOrMore>
    <optional>
      <element name="layout">
        <ref name="dchrt_CT_Layout"/>
      </element>
    </optional>
    <optional>
      <element name="overlay">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_DispBlanksAs">
    <choice>
      <value type="string" datatypeLibrary="">span</value>
      <value type="string" datatypeLibrary="">gap</value>
      <value type="string" datatypeLibrary="">zero</value>
    </choice>
  </define>
  <define name="dchrt_CT_DispBlanksAs">
    <optional>
      <attribute name="val">
        <aa:documentation>default value: zero</aa:documentation>
        <ref name="dchrt_ST_DispBlanksAs"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_Chart">
    <optional>
      <element name="title">
        <ref name="dchrt_CT_Title"/>
      </element>
    </optional>
    <optional>
      <element name="autoTitleDeleted">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="pivotFmts">
        <ref name="dchrt_CT_PivotFmts"/>
      </element>
    </optional>
    <optional>
      <element name="view3D">
        <ref name="dchrt_CT_View3D"/>
      </element>
    </optional>
    <optional>
      <element name="floor">
        <ref name="dchrt_CT_Surface"/>
      </element>
    </optional>
    <optional>
      <element name="sideWall">
        <ref name="dchrt_CT_Surface"/>
      </element>
    </optional>
    <optional>
      <element name="backWall">
        <ref name="dchrt_CT_Surface"/>
      </element>
    </optional>
    <element name="plotArea">
      <ref name="dchrt_CT_PlotArea"/>
    </element>
    <optional>
      <element name="legend">
        <ref name="dchrt_CT_Legend"/>
      </element>
    </optional>
    <optional>
      <element name="plotVisOnly">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="dispBlanksAs">
        <ref name="dchrt_CT_DispBlanksAs"/>
      </element>
    </optional>
    <optional>
      <element name="showDLblsOverMax">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_ST_Style">
    <data type="unsignedByte">
      <param name="minInclusive">1</param>
      <param name="maxInclusive">48</param>
    </data>
  </define>
  <define name="dchrt_CT_Style">
    <attribute name="val">
      <ref name="dchrt_ST_Style"/>
    </attribute>
  </define>
  <define name="dchrt_CT_PivotSource">
    <element name="name">
      <ref name="s_ST_Xstring"/>
    </element>
    <element name="fmtId">
      <ref name="dchrt_CT_UnsignedInt"/>
    </element>
    <zeroOrMore>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </zeroOrMore>
  </define>
  <define name="dchrt_CT_Protection">
    <optional>
      <element name="chartObject">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="data">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="formatting">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="selection">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="userInterface">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_HeaderFooter">
    <optional>
      <attribute name="alignWithMargins">
        <aa:documentation>default value: true</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="differentOddEven">
        <aa:documentation>default value: false</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="differentFirst">
        <aa:documentation>default value: false</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <element name="oddHeader">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="oddFooter">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="evenHeader">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="evenFooter">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="firstHeader">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
    <optional>
      <element name="firstFooter">
        <ref name="s_ST_Xstring"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PageMargins">
    <attribute name="l">
      <data type="double"/>
    </attribute>
    <attribute name="r">
      <data type="double"/>
    </attribute>
    <attribute name="t">
      <data type="double"/>
    </attribute>
    <attribute name="b">
      <data type="double"/>
    </attribute>
    <attribute name="header">
      <data type="double"/>
    </attribute>
    <attribute name="footer">
      <data type="double"/>
    </attribute>
  </define>
  <define name="dchrt_ST_PageSetupOrientation">
    <choice>
      <value type="string" datatypeLibrary="">default</value>
      <value type="string" datatypeLibrary="">portrait</value>
      <value type="string" datatypeLibrary="">landscape</value>
    </choice>
  </define>
  <define name="dchrt_CT_ExternalData">
    <ref name="r_id"/>
    <optional>
      <element name="autoUpdate">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_PageSetup">
    <optional>
      <attribute name="paperSize">
        <aa:documentation>default value: 1</aa:documentation>
        <data type="unsignedInt"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="paperHeight">
        <ref name="s_ST_PositiveUniversalMeasure"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="paperWidth">
        <ref name="s_ST_PositiveUniversalMeasure"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="firstPageNumber">
        <aa:documentation>default value: 1</aa:documentation>
        <data type="unsignedInt"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="orientation">
        <aa:documentation>default value: default</aa:documentation>
        <ref name="dchrt_ST_PageSetupOrientation"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="blackAndWhite">
        <aa:documentation>default value: false</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="draft">
        <aa:documentation>default value: false</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="useFirstPageNumber">
        <aa:documentation>default value: false</aa:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="horizontalDpi">
        <aa:documentation>default value: 600</aa:documentation>
        <data type="int"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="verticalDpi">
        <aa:documentation>default value: 600</aa:documentation>
        <data type="int"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="copies">
        <aa:documentation>default value: 1</aa:documentation>
        <data type="unsignedInt"/>
      </attribute>
    </optional>
  </define>
  <define name="dchrt_CT_PrintSettings">
    <optional>
      <element name="headerFooter">
        <ref name="dchrt_CT_HeaderFooter"/>
      </element>
    </optional>
    <optional>
      <element name="pageMargins">
        <ref name="dchrt_CT_PageMargins"/>
      </element>
    </optional>
    <optional>
      <element name="pageSetup">
        <ref name="dchrt_CT_PageSetup"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_CT_ChartSpace">
    <optional>
      <element name="date1904">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="lang">
        <ref name="dchrt_CT_TextLanguageID"/>
      </element>
    </optional>
    <optional>
      <element name="roundedCorners">
        <ref name="dchrt_CT_Boolean"/>
      </element>
    </optional>
    <optional>
      <element name="style">
        <ref name="dchrt_CT_Style"/>
      </element>
    </optional>
    <optional>
      <element name="clrMapOvr">
        <ref name="a_CT_ColorMapping"/>
      </element>
    </optional>
    <optional>
      <element name="pivotSource">
        <ref name="dchrt_CT_PivotSource"/>
      </element>
    </optional>
    <optional>
      <element name="protection">
        <ref name="dchrt_CT_Protection"/>
      </element>
    </optional>
    <element name="chart">
      <ref name="dchrt_CT_Chart"/>
    </element>
    <optional>
      <element name="spPr">
        <ref name="a_CT_ShapeProperties"/>
      </element>
    </optional>
    <optional>
      <element name="txPr">
        <ref name="a_CT_TextBody"/>
      </element>
    </optional>
    <optional>
      <element name="externalData">
        <ref name="dchrt_CT_ExternalData"/>
      </element>
    </optional>
    <optional>
      <element name="printSettings">
        <ref name="dchrt_CT_PrintSettings"/>
      </element>
    </optional>
    <optional>
      <element name="userShapes">
        <ref name="dchrt_CT_RelId"/>
      </element>
    </optional>
    <optional>
      <element name="extLst">
        <ref name="dchrt_CT_ExtensionList"/>
      </element>
    </optional>
  </define>
  <define name="dchrt_chartSpace">
    <element name="chartSpace">
      <ref name="dchrt_CT_ChartSpace"/>
    </element>
  </define>
  <define name="dchrt_userShapes">
    <element name="userShapes">
      <ref name="cdr_CT_Drawing"/>
    </element>
  </define>
  <define name="dchrt_chart">
    <element name="chart">
      <ref name="dchrt_CT_RelId"/>
    </element>
  </define>
</grammar>
