schemas/OOXML/strict/shared-math.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="http://purl.oclc.org/ooxml/officeDocument/math" xmlns:m="http://purl.oclc.org/ooxml/officeDocument/math" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="m_ST_Integer255">
    <data type="integer">
      <param name="minInclusive">1</param>
      <param name="maxInclusive">255</param>
    </data>
  </define>
  <define name="m_CT_Integer255">
    <attribute name="m:val">
      <ref name="m_ST_Integer255"/>
    </attribute>
  </define>
  <define name="m_ST_Integer2">
    <data type="integer">
      <param name="minInclusive">-2</param>
      <param name="maxInclusive">2</param>
    </data>
  </define>
  <define name="m_CT_Integer2">
    <attribute name="m:val">
      <ref name="m_ST_Integer2"/>
    </attribute>
  </define>
  <define name="m_ST_SpacingRule">
    <data type="integer">
      <param name="minInclusive">0</param>
      <param name="maxInclusive">4</param>
    </data>
  </define>
  <define name="m_CT_SpacingRule">
    <attribute name="m:val">
      <ref name="m_ST_SpacingRule"/>
    </attribute>
  </define>
  <define name="m_ST_UnSignedInteger">
    <data type="unsignedInt"/>
  </define>
  <define name="m_CT_UnSignedInteger">
    <attribute name="m:val">
      <ref name="m_ST_UnSignedInteger"/>
    </attribute>
  </define>
  <define name="m_ST_Char">
    <data type="string">
      <param name="maxLength">1</param>
    </data>
  </define>
  <define name="m_CT_Char">
    <attribute name="m:val">
      <ref name="m_ST_Char"/>
    </attribute>
  </define>
  <define name="m_CT_OnOff">
    <optional>
      <attribute name="m:val">
        <ref name="s_ST_OnOff"/>
      </attribute>
    </optional>
  </define>
  <define name="m_CT_String">
    <optional>
      <attribute name="m:val">
        <ref name="s_ST_String"/>
      </attribute>
    </optional>
  </define>
  <define name="m_CT_XAlign">
    <attribute name="m:val">
      <ref name="s_ST_XAlign"/>
    </attribute>
  </define>
  <define name="m_CT_YAlign">
    <attribute name="m:val">
      <ref name="s_ST_YAlign"/>
    </attribute>
  </define>
  <define name="m_ST_Shp">
    <choice>
      <value type="string" datatypeLibrary="">centered</value>
      <value type="string" datatypeLibrary="">match</value>
    </choice>
  </define>
  <define name="m_CT_Shp">
    <attribute name="m:val">
      <ref name="m_ST_Shp"/>
    </attribute>
  </define>
  <define name="m_ST_FType">
    <choice>
      <value type="string" datatypeLibrary="">bar</value>
      <value type="string" datatypeLibrary="">skw</value>
      <value type="string" datatypeLibrary="">lin</value>
      <value type="string" datatypeLibrary="">noBar</value>
    </choice>
  </define>
  <define name="m_CT_FType">
    <attribute name="m:val">
      <ref name="m_ST_FType"/>
    </attribute>
  </define>
  <define name="m_ST_LimLoc">
    <choice>
      <value type="string" datatypeLibrary="">undOvr</value>
      <value type="string" datatypeLibrary="">subSup</value>
    </choice>
  </define>
  <define name="m_CT_LimLoc">
    <attribute name="m:val">
      <ref name="m_ST_LimLoc"/>
    </attribute>
  </define>
  <define name="m_ST_TopBot">
    <choice>
      <value type="string" datatypeLibrary="">top</value>
      <value type="string" datatypeLibrary="">bot</value>
    </choice>
  </define>
  <define name="m_CT_TopBot">
    <attribute name="m:val">
      <ref name="m_ST_TopBot"/>
    </attribute>
  </define>
  <define name="m_ST_Script">
    <choice>
      <value type="string" datatypeLibrary="">roman</value>
      <value type="string" datatypeLibrary="">script</value>
      <value type="string" datatypeLibrary="">fraktur</value>
      <value type="string" datatypeLibrary="">double-struck</value>
      <value type="string" datatypeLibrary="">sans-serif</value>
      <value type="string" datatypeLibrary="">monospace</value>
    </choice>
  </define>
  <define name="m_CT_Script">
    <optional>
      <attribute name="m:val">
        <ref name="m_ST_Script"/>
      </attribute>
    </optional>
  </define>
  <define name="m_ST_Style">
    <choice>
      <value type="string" datatypeLibrary="">p</value>
      <value type="string" datatypeLibrary="">b</value>
      <value type="string" datatypeLibrary="">i</value>
      <value type="string" datatypeLibrary="">bi</value>
    </choice>
  </define>
  <define name="m_CT_Style">
    <optional>
      <attribute name="m:val">
        <ref name="m_ST_Style"/>
      </attribute>
    </optional>
  </define>
  <define name="m_CT_ManualBreak">
    <optional>
      <attribute name="m:alnAt">
        <ref name="m_ST_Integer255"/>
      </attribute>
    </optional>
  </define>
  <define name="m_EG_ScriptStyle">
    <optional>
      <element name="scr">
        <ref name="m_CT_Script"/>
      </element>
    </optional>
    <optional>
      <element name="sty">
        <ref name="m_CT_Style"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_RPR">
    <optional>
      <element name="lit">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <choice>
      <optional>
        <element name="nor">
          <ref name="m_CT_OnOff"/>
        </element>
      </optional>
      <ref name="m_EG_ScriptStyle"/>
    </choice>
    <optional>
      <element name="brk">
        <ref name="m_CT_ManualBreak"/>
      </element>
    </optional>
    <optional>
      <element name="aln">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Text">
    <ref name="s_ST_String"/>
    <optional>
      <ref name="xml_space"/>
    </optional>
  </define>
  <define name="m_CT_R">
    <optional>
      <element name="rPr">
        <ref name="m_CT_RPR"/>
      </element>
    </optional>
    <optional>
      <ref name="w_EG_RPr"/>
    </optional>
    <zeroOrMore>
      <choice>
        <ref name="w_EG_RunInnerContent"/>
        <optional>
          <element name="t">
            <ref name="m_CT_Text"/>
          </element>
        </optional>
      </choice>
    </zeroOrMore>
  </define>
  <define name="m_CT_CtrlPr">
    <optional>
      <ref name="w_EG_RPrMath"/>
    </optional>
  </define>
  <define name="m_CT_AccPr">
    <optional>
      <element name="chr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Acc">
    <optional>
      <element name="accPr">
        <ref name="m_CT_AccPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_BarPr">
    <optional>
      <element name="pos">
        <ref name="m_CT_TopBot"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Bar">
    <optional>
      <element name="barPr">
        <ref name="m_CT_BarPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_BoxPr">
    <optional>
      <element name="opEmu">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="noBreak">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="diff">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="brk">
        <ref name="m_CT_ManualBreak"/>
      </element>
    </optional>
    <optional>
      <element name="aln">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Box">
    <optional>
      <element name="boxPr">
        <ref name="m_CT_BoxPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_BorderBoxPr">
    <optional>
      <element name="hideTop">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="hideBot">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="hideLeft">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="hideRight">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="strikeH">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="strikeV">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="strikeBLTR">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="strikeTLBR">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_BorderBox">
    <optional>
      <element name="borderBoxPr">
        <ref name="m_CT_BorderBoxPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_DPr">
    <optional>
      <element name="begChr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="sepChr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="endChr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="grow">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="shp">
        <ref name="m_CT_Shp"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_D">
    <optional>
      <element name="dPr">
        <ref name="m_CT_DPr"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="e">
        <ref name="m_CT_OMathArg"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_EqArrPr">
    <optional>
      <element name="baseJc">
        <ref name="m_CT_YAlign"/>
      </element>
    </optional>
    <optional>
      <element name="maxDist">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="objDist">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="rSpRule">
        <ref name="m_CT_SpacingRule"/>
      </element>
    </optional>
    <optional>
      <element name="rSp">
        <ref name="m_CT_UnSignedInteger"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_EqArr">
    <optional>
      <element name="eqArrPr">
        <ref name="m_CT_EqArrPr"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="e">
        <ref name="m_CT_OMathArg"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_FPr">
    <optional>
      <element name="type">
        <ref name="m_CT_FType"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_F">
    <optional>
      <element name="fPr">
        <ref name="m_CT_FPr"/>
      </element>
    </optional>
    <element name="num">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="den">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_FuncPr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Func">
    <optional>
      <element name="funcPr">
        <ref name="m_CT_FuncPr"/>
      </element>
    </optional>
    <element name="fName">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_GroupChrPr">
    <optional>
      <element name="chr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="pos">
        <ref name="m_CT_TopBot"/>
      </element>
    </optional>
    <optional>
      <element name="vertJc">
        <ref name="m_CT_TopBot"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_GroupChr">
    <optional>
      <element name="groupChrPr">
        <ref name="m_CT_GroupChrPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_LimLowPr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_LimLow">
    <optional>
      <element name="limLowPr">
        <ref name="m_CT_LimLowPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="lim">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_LimUppPr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_LimUpp">
    <optional>
      <element name="limUppPr">
        <ref name="m_CT_LimUppPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="lim">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_MCPr">
    <optional>
      <element name="count">
        <ref name="m_CT_Integer255"/>
      </element>
    </optional>
    <optional>
      <element name="mcJc">
        <ref name="m_CT_XAlign"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_MC">
    <optional>
      <element name="mcPr">
        <ref name="m_CT_MCPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_MCS">
    <oneOrMore>
      <element name="mc">
        <ref name="m_CT_MC"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_MPr">
    <optional>
      <element name="baseJc">
        <ref name="m_CT_YAlign"/>
      </element>
    </optional>
    <optional>
      <element name="plcHide">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="rSpRule">
        <ref name="m_CT_SpacingRule"/>
      </element>
    </optional>
    <optional>
      <element name="cGpRule">
        <ref name="m_CT_SpacingRule"/>
      </element>
    </optional>
    <optional>
      <element name="rSp">
        <ref name="m_CT_UnSignedInteger"/>
      </element>
    </optional>
    <optional>
      <element name="cSp">
        <ref name="m_CT_UnSignedInteger"/>
      </element>
    </optional>
    <optional>
      <element name="cGp">
        <ref name="m_CT_UnSignedInteger"/>
      </element>
    </optional>
    <optional>
      <element name="mcs">
        <ref name="m_CT_MCS"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_MR">
    <oneOrMore>
      <element name="e">
        <ref name="m_CT_OMathArg"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_M">
    <optional>
      <element name="mPr">
        <ref name="m_CT_MPr"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="mr">
        <ref name="m_CT_MR"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_NaryPr">
    <optional>
      <element name="chr">
        <ref name="m_CT_Char"/>
      </element>
    </optional>
    <optional>
      <element name="limLoc">
        <ref name="m_CT_LimLoc"/>
      </element>
    </optional>
    <optional>
      <element name="grow">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="subHide">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="supHide">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Nary">
    <optional>
      <element name="naryPr">
        <ref name="m_CT_NaryPr"/>
      </element>
    </optional>
    <element name="sub">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sup">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_PhantPr">
    <optional>
      <element name="show">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="zeroWid">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="zeroAsc">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="zeroDesc">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="transp">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Phant">
    <optional>
      <element name="phantPr">
        <ref name="m_CT_PhantPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_RadPr">
    <optional>
      <element name="degHide">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_Rad">
    <optional>
      <element name="radPr">
        <ref name="m_CT_RadPr"/>
      </element>
    </optional>
    <element name="deg">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_SPrePr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_SPre">
    <optional>
      <element name="sPrePr">
        <ref name="m_CT_SPrePr"/>
      </element>
    </optional>
    <element name="sub">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sup">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_SSubPr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_SSub">
    <optional>
      <element name="sSubPr">
        <ref name="m_CT_SSubPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sub">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_SSubSupPr">
    <optional>
      <element name="alnScr">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_SSubSup">
    <optional>
      <element name="sSubSupPr">
        <ref name="m_CT_SSubSupPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sub">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sup">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_CT_SSupPr">
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_SSup">
    <optional>
      <element name="sSupPr">
        <ref name="m_CT_SSupPr"/>
      </element>
    </optional>
    <element name="e">
      <ref name="m_CT_OMathArg"/>
    </element>
    <element name="sup">
      <ref name="m_CT_OMathArg"/>
    </element>
  </define>
  <define name="m_EG_OMathMathElements">
    <choice>
      <element name="acc">
        <ref name="m_CT_Acc"/>
      </element>
      <element name="bar">
        <ref name="m_CT_Bar"/>
      </element>
      <element name="box">
        <ref name="m_CT_Box"/>
      </element>
      <element name="borderBox">
        <ref name="m_CT_BorderBox"/>
      </element>
      <element name="d">
        <ref name="m_CT_D"/>
      </element>
      <element name="eqArr">
        <ref name="m_CT_EqArr"/>
      </element>
      <element name="f">
        <ref name="m_CT_F"/>
      </element>
      <element name="func">
        <ref name="m_CT_Func"/>
      </element>
      <element name="groupChr">
        <ref name="m_CT_GroupChr"/>
      </element>
      <element name="limLow">
        <ref name="m_CT_LimLow"/>
      </element>
      <element name="limUpp">
        <ref name="m_CT_LimUpp"/>
      </element>
      <element name="m">
        <ref name="m_CT_M"/>
      </element>
      <element name="nary">
        <ref name="m_CT_Nary"/>
      </element>
      <element name="phant">
        <ref name="m_CT_Phant"/>
      </element>
      <element name="rad">
        <ref name="m_CT_Rad"/>
      </element>
      <element name="sPre">
        <ref name="m_CT_SPre"/>
      </element>
      <element name="sSub">
        <ref name="m_CT_SSub"/>
      </element>
      <element name="sSubSup">
        <ref name="m_CT_SSubSup"/>
      </element>
      <element name="sSup">
        <ref name="m_CT_SSup"/>
      </element>
      <element name="r">
        <ref name="m_CT_R"/>
      </element>
    </choice>
  </define>
  <define name="m_EG_OMathElements">
    <choice>
      <ref name="m_EG_OMathMathElements"/>
      <ref name="w_EG_PContentMath"/>
    </choice>
  </define>
  <define name="m_CT_OMathArgPr">
    <optional>
      <element name="argSz">
        <ref name="m_CT_Integer2"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_OMathArg">
    <optional>
      <element name="argPr">
        <ref name="m_CT_OMathArgPr"/>
      </element>
    </optional>
    <zeroOrMore>
      <ref name="m_EG_OMathElements"/>
    </zeroOrMore>
    <optional>
      <element name="ctrlPr">
        <ref name="m_CT_CtrlPr"/>
      </element>
    </optional>
  </define>
  <define name="m_ST_Jc">
    <choice>
      <value type="string" datatypeLibrary="">left</value>
      <value type="string" datatypeLibrary="">right</value>
      <value type="string" datatypeLibrary="">center</value>
      <value type="string" datatypeLibrary="">centerGroup</value>
    </choice>
  </define>
  <define name="m_CT_OMathJc">
    <optional>
      <attribute name="m:val">
        <ref name="m_ST_Jc"/>
      </attribute>
    </optional>
  </define>
  <define name="m_CT_OMathParaPr">
    <optional>
      <element name="jc">
        <ref name="m_CT_OMathJc"/>
      </element>
    </optional>
  </define>
  <define name="m_CT_TwipsMeasure">
    <attribute name="m:val">
      <ref name="s_ST_TwipsMeasure"/>
    </attribute>
  </define>
  <define name="m_ST_BreakBin">
    <choice>
      <value type="string" datatypeLibrary="">before</value>
      <value type="string" datatypeLibrary="">after</value>
      <value type="string" datatypeLibrary="">repeat</value>
    </choice>
  </define>
  <define name="m_CT_BreakBin">
    <optional>
      <attribute name="m:val">
        <ref name="m_ST_BreakBin"/>
      </attribute>
    </optional>
  </define>
  <define name="m_ST_BreakBinSub">
    <choice>
      <value type="string" datatypeLibrary="">--</value>
      <value type="string" datatypeLibrary="">-+</value>
      <value type="string" datatypeLibrary="">+-</value>
    </choice>
  </define>
  <define name="m_CT_BreakBinSub">
    <optional>
      <attribute name="m:val">
        <ref name="m_ST_BreakBinSub"/>
      </attribute>
    </optional>
  </define>
  <define name="m_CT_MathPr">
    <optional>
      <element name="mathFont">
        <ref name="m_CT_String"/>
      </element>
    </optional>
    <optional>
      <element name="brkBin">
        <ref name="m_CT_BreakBin"/>
      </element>
    </optional>
    <optional>
      <element name="brkBinSub">
        <ref name="m_CT_BreakBinSub"/>
      </element>
    </optional>
    <optional>
      <element name="smallFrac">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="dispDef">
        <ref name="m_CT_OnOff"/>
      </element>
    </optional>
    <optional>
      <element name="lMargin">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <element name="rMargin">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <element name="defJc">
        <ref name="m_CT_OMathJc"/>
      </element>
    </optional>
    <optional>
      <element name="preSp">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <element name="postSp">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <element name="interSp">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <element name="intraSp">
        <ref name="m_CT_TwipsMeasure"/>
      </element>
    </optional>
    <optional>
      <choice>
        <element name="wrapIndent">
          <ref name="m_CT_TwipsMeasure"/>
        </element>
        <element name="wrapRight">
          <ref name="m_CT_OnOff"/>
        </element>
      </choice>
    </optional>
    <optional>
      <element name="intLim">
        <ref name="m_CT_LimLoc"/>
      </element>
    </optional>
    <optional>
      <element name="naryLim">
        <ref name="m_CT_LimLoc"/>
      </element>
    </optional>
  </define>
  <define name="m_mathPr">
    <element name="mathPr">
      <ref name="m_CT_MathPr"/>
    </element>
  </define>
  <define name="m_CT_OMathPara">
    <optional>
      <element name="oMathParaPr">
        <ref name="m_CT_OMathParaPr"/>
      </element>
    </optional>
    <oneOrMore>
      <element name="oMath">
        <ref name="m_CT_OMath"/>
      </element>
    </oneOrMore>
  </define>
  <define name="m_CT_OMath">
    <zeroOrMore>
      <ref name="m_EG_OMathElements"/>
    </zeroOrMore>
  </define>
  <define name="m_oMathPara">
    <element name="oMathPara">
      <ref name="m_CT_OMathPara"/>
    </element>
  </define>
  <define name="m_oMath">
    <element name="oMath">
      <ref name="m_CT_OMath"/>
    </element>
  </define>
</grammar>
